.questionCard{
  border: 2px solid black;
  margin: auto;
  width: fit-content;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.app{
  padding: 10px;
  text-align: center;
}

.questionCard button{
  width: 100%;
  margin-bottom: 5px;
  background-color: #bd5b00;
  border: none;
  color: white;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.trueAns{
  background-color: #207000 !important;
}

.falseAns{
  background-color: #d10000 !important;
}