.questionCard{
  margin: auto;
  margin-top: 10px;
  width: fit-content;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(240,240,240,0.2);
  color: white;

}

.app{
  text-align: center;
  background-image: url('bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.score{
  background-color: #c2d9ff;
  padding: 10px;
  margin-top: 10px;
  margin:auto;
  width: fit-content;
  border-radius: 5px;
}

.topTitle{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: white;
}

.btn{
  background-color: #00ebc3;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}

.questionCard button{
  width: 100%;
  margin-bottom: 5px;
  background-color: #bd5b00;
  border: none;
  color: white;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.trueAns{
  background-color: #207000 !important;
}

.falseAns{
  background-color: #d10000 !important;
}